<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mapa statków</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

    <style>#map { width:600px;  height: 400px; }</style>
</head>
<body>
<div id="map"></div>
<script th:inline="javascript">
        var ships = [[${ships}]];
        var map = L.map('map').setView([54.3900843, 19.1126913], 9);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        ships.forEach(value => {
            L.marker([value.latitude, value.longitude]).addTo(map).bindPopup(value.latitude).openPopup();
        if((value.destinationLatitude!=value.latitude) && (value.destinationLatitude!='')){
        L.polygon([
            [value.latitude,value.longitude],[value.destinationLatitude,value.destinationLongitude]
        ]).addTo(map);
        }
        });
</script>
</body>
</html>